* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #0f0c29;
  color: #fff;
}

/* Container for the entire chat app */
.chat-container {
  display: flex;
  height: 100vh;
  background-color: #0f0c29;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Sidebar with user list */
.user-list {
  width: 25%;
  display: flex;
  flex-direction: column;
  max-width: 350px;
  background: linear-gradient(to right, #24243e, #0f0c29);
  color: #ffffff;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.05);
}

/* Styling for the heading in the user list */
.user-list h3 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

/* Remove default list styling and add padding */
.user-list ul {
  list-style-type: none;
  padding: 0;
}

/* Styling for individual users in the list */
.user-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e637;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.user-list li:hover {
  /* background-color: #007bff; */
  background-color: #e3f2fd2e;
}

/* Search box */
.user-list input {
  width: calc(100% - 60px) !important;
  border: none;
  outline: none;
  padding: 12px 20px !important;
  border-radius: 20px;
  background-color: #e3f2fd2e;
  color: #fff;
  margin-bottom: 20px;
}

/* ###################### SIDE NAVBAR ######################*/
/* Sidebar with user list */
.sidebar-list {
  /* width: 25%; */
  /* max-width: 350px; */
  display: flex;
  flex-direction: column;
  height: 90%;
  background: linear-gradient(to right, #24243e, #0f0c29);
  color: #ffffff;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.05);
}

/* Styling for the heading in the user list */
.sidebar-list h3 {
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

/* Remove default list styling and add padding */
.sidebar-list ul {
  list-style-type: none;
  padding: 0;
}

/* Styling for individual users in the list */
.sidebar-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e637;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.sidebar-list li:hover {
  /* background-color: #007bff; */
  background-color: #e3f2fd2e;
}

/* Search box */
.sidebar-list input {
  width: calc(100% - 60px) !important;
  border: none;
  outline: none;
  padding: 12px 20px !important;
  border-radius: 20px;
  background-color: #e3f2fd2e;
  color: #fff;
  margin-bottom: 20px;
}

/*###################### SIDE NAVBAR END ######################*/


/* Active user in the list */
.active-user {
  font-weight: 600;
  background-color: #e3f2fd2e;
  border: none !important;
}

/* Main chat window container */
.chat-window {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0f0c29;
}

/* Chat header styling */
.chat-header {
  padding: 0px 30px;
  background-color: #e3f2fd2e;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

/* Container for chat messages with scroll support */
.chat-messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background: linear-gradient(to right, #1c1c34, #26224f, #0f0c29);
}

/* Styling for individual messages */
.message {
  margin-bottom: 8px;
  display: flex;
}

/* Right-aligned messages sent by the current user */
.message.sent {
  justify-content: flex-end;
}

.message.received {
  justify-content: flex-start;
}

/* Styling for message content */
.message-content {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 14px;
  display: flex;
  max-width: 600px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

/* Sent message content styling */
.message.sent .message-content {
  background-color: #e3f2fd2e;
  color: #fff;
  margin-left: 80px;
  border-bottom-right-radius: 0px !important;
}

.message.received .message-content {
  background-color: #e3f2fd2e;
  color: #fff;
  margin-right: 80px;
  border-top-left-radius: 0px !important;
}

.message-text {
  line-height: 20px;
}

.message-time {
  min-width: 60px;
  font-size: 12px;
  color: #888;
  margin-top: 5px;
  margin-left: 3px;
  text-align: right;
}

/* Container for date badge */
.date-badge {
  text-align: center;
  margin: 20px 0;
}

/* Style for date badge */
.date-badge span {
  background-color: #e3f2fdb7;
  /* Blue background */
  padding: 6px 15px;
  border-radius: 12px;
  font-size: 13px;
  color: #000000;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* Container for chat messages */
.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Chat input container with padding and border */
.chat-input {
  display: flex;
  padding: 15px;
  background: linear-gradient(to right, #24243e, #26224f, #0f0c29);
}

/* Input styling with rounded corners */
.chat-input input {
  flex-grow: 1;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid #e0e0e039;
  outline: none;
  background-color: #e3f2fd2e;
  color: #fff;
}

/* Send button styling */
.chat-input button {
  padding: 5px 20px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.chat-input button svg {
  transition: all .3s;

}

.chat-input button:hover svg {
  transform: translateX(5px) rotate(-2deg)
}

.logOut {
  margin-top: auto;
  color: #8E90A5;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  STYLE 3 */

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0f0c29;
}

#style-3::-webkit-scrollbar {
  width: 8px;
  background-color: #0f0c29;
}

#style-3::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e3f2fd2e;
}




/* side nav bar css */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #24243e, #0f0c29);
  color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav.open {
  width: 100VW;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  background: transparent;
  border: none;
  color: #8E90A5;
  margin-top: 10px;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media (max-width: 768px) {

  /* Adjust the breakpoint as needed */
  .toggle-icon {
    display: inline;
  }
  

  .user-list {
    display: none !important;
  }
}

/* Hide the toggle icon on larger screens */
@media (min-width: 769px) {
  .toggle-icon {
    display: none;
  }
}